.pagination{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.paginationButton{
  margin: 0 5px;
  background: transparent;
  border: transparent;
  border-radius: 30px;
}


.paginationButton:hover {
  background-color: #c92502;
  color: #fff;
}


.arrowRight {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrowLeft {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
